.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 1rem 0.5rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  gap: 1rem;

  &__item {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 10px;
    background: var(--tertiary);
    transition: 0.3s ease;
    cursor: pointer;
    user-select: none;
    border: 2px solid transparent;

    &:hover {
      filter: brightness(0.95);
      border: 2px solid var(--primary);

      svg {
        fill: var(--primary);
      }
    }

    &:active {
      transform: scale(0.9);
    }

    & svg {
      transition: 0.3s ease;
    }

    & span {
      font-size: 0.9rem;
    }
  }
}
