@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --primary: #3981f7;
  --secondary: #f7c239;
  --tertiary: #f6f8fa;
  --tertiary-hover: #f1f1f1;
  --quaternary: #222566;
  --quinary: #f7f7f7;
  --quinary-hover: #1a1a1a;

  --tablet: 800px;
  --laptop: 1200px;
  --desktop: 1440px;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}
